

.table-remove {
    color: #700;
    cursor: pointer;

    &:hover {
        color: #f00;
    }
}

table {
    border-collapse: collapse;
}

th,
td {
    border-bottom: 1px solid black;
    padding: 10px;
}

td:nth-child(2) {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.header__img {
    margin: 0px;
    width: 100%;
}

img.proba {
    clip-path: circle(75px at center);
}

button {
    border: 1px solid grey;
    border-radius: 8px;
    background-color: transparent;
}

img[class^="table-edit"],
img.table-remove,
img.table-arrow {
    max-width: 40px;
}