body {
  background: url(/img/pictures/seven_kingdoms.jpg);
}

.galleryTitle {
  color: white;
  text-align: center;
}

.galleryElement {
  display: inline;
  margin: 0 3px;
  position: relative;
  overflow: hidden;
}

.galleryElement img {
  color: white;
  vertical-align: 2em;
  height: 150px;
}