.table-remove {
    color: #700;
    cursor: pointer;
    
    &:hover {
      color: #f00;
    }
}

table {
    border-collapse: collapse;
    margin: auto;
}

th, td {
    border-bottom: 1px solid black;
    padding: 10px;
}

td:nth-child(2) {
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

img[class^="table-edit"], img.table-remove, img.table-arrow {
    max-width: 40px;
}
/*Statistics oldalhoz legördülő menü */
/* Dropdown Button */
